---
http_interactions:
- request:
    method: get
    uri: https://de.wiktionary.org/w/api.php?action=query&format=json&meta=tokens&type=csrf
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Backend-Timing:
      - D=19416 t=1489340778361208
      X-Analytics:
      - ns=-1;special=Badtitle;https=1;nocookies=1
      X-Client-Ip:
      - 2601:42:901:1f70:58eb:6229:a498:4e17
    body:
      encoding: ASCII-8BIT
      string: '{"batchcomplete":"","query":{"tokens":{"csrftoken":"+\\"}}}'
  recorded_at: Sun, 12 Mar 2017 17:46:18 GMT
- request:
    method: post
    uri: https://de.wiktionary.org/w/api.php
    body:
      encoding: UTF-8
      string: action=parse&format=json&page=Gehirn&token=%2B%5C
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Backend-Timing:
      - D=61535 t=1489340778681368
      X-Analytics:
      - ns=-1;special=Badtitle;WMF-Last-Access=12-Mar-2017;WMF-Last-Access-Global=12-Mar-2017;https=1
      X-Client-Ip:
      - 2601:42:901:1f70:58eb:6229:a498:4e17
    body:
      encoding: ASCII-8BIT
      string: '{"warnings":{"main":{"*":"Unrecognized parameter: token."}},"parse":{"title":"Gehirn","pageid":11340,"revid":5331889,"text":{"*":"<h2><span
        class=\"mw-headline\" id=\"Gehirn_.28Deutsch.29\">Gehirn (<a href=\"/wiki/Wiktionary:Deutsch\"
        title=\"Wiktionary:Deutsch\">Deutsch</a><span style=\"visibility:hidden\"
        id=\"Gehirn_.28Deutsch.29\"><span id=\"Anker:Gehirn_.28Deutsch.29\"></span></span><span
        style=\"visibility:hidden\" id=\"Deutsch\"><span id=\"Anker:Deutsch\"></span></span><span
        style=\"visibility:hidden\" id=\"Deutsch\"><span id=\"Anker:Deutsch\"></span></span>)</span><span
        class=\"mw-editsection\"><span class=\"mw-editsection-bracket\">[</span><a
        href=\"/w/index.php?title=Gehirn&amp;action=edit&amp;section=1\" title=\"Abschnitt
        bearbeiten: Gehirn (Deutsch)\">Bearbeiten</a><span class=\"mw-editsection-bracket\">]</span></span></h2>\n<h3><span
        class=\"mw-headline\" id=\"Substantiv.2C_n\"><a href=\"/wiki/Hilfe:Wortart\"
        title=\"Hilfe:Wortart\">Substantiv</a>, <em title=\"Genus: Neutrum (grammatikal.
        Geschlecht: s\u00e4chlich)\">n</em></span><span class=\"mw-editsection\"><span
        class=\"mw-editsection-bracket\">[</span><a href=\"/w/index.php?title=Gehirn&amp;action=edit&amp;section=2\"
        title=\"Abschnitt bearbeiten: Substantiv, n\">Bearbeiten</a><span class=\"mw-editsection-bracket\">]</span></span></h3>\n<table
        class=\"wikitable float-right inflection-table flexbox hintergrundfarbe2\"
        style=\"margin:0 0 .5em .4em;\">\n<tr>\n<th width=\"65\"></th>\n<th><a href=\"/wiki/Hilfe:Singular\"
        title=\"Hilfe:Singular\">Singular</a></th>\n<th><a href=\"/wiki/Hilfe:Plural\"
        title=\"Hilfe:Plural\">Plural</a></th>\n</tr>\n<tr>\n<th style=\"text-align:left;\"><a
        href=\"/wiki/Hilfe:Nominativ\" title=\"Hilfe:Nominativ\">Nominativ</a></th>\n<td>das
        Gehirn</td>\n<td>die <a href=\"/wiki/Gehirne\" title=\"Gehirne\">Gehirne</a></td>\n</tr>\n<tr>\n<th
        style=\"text-align:left;\"><a href=\"/wiki/Hilfe:Genitiv\" title=\"Hilfe:Genitiv\">Genitiv</a></th>\n<td>des
        <a href=\"/wiki/Gehirns\" title=\"Gehirns\">Gehirns</a><br />\ndes <a href=\"/wiki/Gehirnes\"
        title=\"Gehirnes\">Gehirnes</a></td>\n<td>der <a href=\"/wiki/Gehirne\" title=\"Gehirne\">Gehirne</a></td>\n</tr>\n<tr>\n<th
        style=\"text-align:left;\"><a href=\"/wiki/Hilfe:Dativ\" title=\"Hilfe:Dativ\">Dativ</a></th>\n<td>dem
        Gehirn<br />\ndem <a href=\"/wiki/Gehirne\" title=\"Gehirne\">Gehirne</a></td>\n<td>den
        <a href=\"/wiki/Gehirnen\" title=\"Gehirnen\">Gehirnen</a></td>\n</tr>\n<tr>\n<th
        style=\"text-align:left;\"><a href=\"/wiki/Hilfe:Akkusativ\" title=\"Hilfe:Akkusativ\">Akkusativ</a></th>\n<td>das
        Gehirn</td>\n<td>die <a href=\"/wiki/Gehirne\" title=\"Gehirne\">Gehirne</a></td>\n</tr>\n</table>\n<table
        cellspacing=\"0\" cellpadding=\"0\" class=\"hintergrundfarbe2 rahmenfarbe1\"
        style=\"float:right; clear:right; margin:0em 0em 1em 1em; empty-cells:show;\">\n<tr>\n<td
        colspan=\"10\">\n<div class=\"center\">\n<div class=\"thumb tnone\">\n<div
        class=\"thumbinner\" style=\"width:222px;\"><a href=\"/wiki/Datei:Gehirn,_medial_-_Lobi_deu.svg\"
        class=\"image\"><img alt=\"\" src=\"//upload.wikimedia.org/wikipedia/commons/thumb/0/06/Gehirn%2C_medial_-_Lobi_deu.svg/220px-Gehirn%2C_medial_-_Lobi_deu.svg.png\"
        width=\"220\" height=\"143\" class=\"thumbimage\" srcset=\"//upload.wikimedia.org/wikipedia/commons/thumb/0/06/Gehirn%2C_medial_-_Lobi_deu.svg/330px-Gehirn%2C_medial_-_Lobi_deu.svg.png
        1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/0/06/Gehirn%2C_medial_-_Lobi_deu.svg/440px-Gehirn%2C_medial_-_Lobi_deu.svg.png
        2x\" data-file-width=\"739\" data-file-height=\"482\" /></a>\n<div class=\"thumbcaption\">\n<div
        class=\"magnify\"><a href=\"/wiki/Datei:Gehirn,_medial_-_Lobi_deu.svg\" class=\"internal\"
        title=\"vergr\u00f6\u00dfern\"></a></div>\n[1] Medialansicht eines halbierten
        menschlichen <i>Gehirns</i></div>\n</div>\n</div>\n</div>\n</td>\n</tr>\n</table>\n<p
        style=\"margin-bottom:-0.5em; font-weight:bold;\" title=\"Trennungsm\u00f6glichkeiten
        am Zeilenumbruch\">Worttrennung:</p>\n<dl>\n<dd>Ge\u00b7hirn, <span style=\"font-size:95%;\">Plural:</span>
        Ge\u00b7hir\u00b7ne</dd>\n</dl>\n<p style=\"margin-bottom:-0.5em; font-weight:bold;\"
        title=\"Phonetik\">Aussprache:</p>\n<dl>\n<dd><a href=\"/wiki/Hilfe:IPA\"
        title=\"Hilfe:IPA\">IPA</a>: [<span class=\"ipa\" style=\"padding: 0 1px;
        text-decoration: none;\">\u0261\u0259\u02c8h\u026a\u0281n</span>]</dd>\n<dd><a
        href=\"/wiki/Hilfe:H%C3%B6rbeispiele\" title=\"Hilfe:H\u00f6rbeispiele\">H\u00f6rbeispiele</a>:
        <img alt=\"Lautsprecherbild\" src=\"//upload.wikimedia.org/wikipedia/commons/thumb/8/8a/Loudspeaker.svg/15px-Loudspeaker.svg.png\"
        title=\"Lautsprecherbild\" width=\"15\" height=\"15\" srcset=\"//upload.wikimedia.org/wikipedia/commons/thumb/8/8a/Loudspeaker.svg/23px-Loudspeaker.svg.png
        1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/8/8a/Loudspeaker.svg/30px-Loudspeaker.svg.png
        2x\" data-file-width=\"20\" data-file-height=\"20\" />&#160;<a href=\"//upload.wikimedia.org/wikipedia/commons/0/00/De-Gehirn.ogg\"
        class=\"internal\" title=\"De-Gehirn.ogg\">Gehirn</a><sup>&#160;(<a href=\"/wiki/Datei:De-Gehirn.ogg\"
        title=\"Datei:De-Gehirn.ogg\">Info</a>)</sup></dd>\n<dd><a href=\"/wiki/Hilfe:Reime\"
        title=\"Hilfe:Reime\">Reime</a>: <span class=\"ipa\" style=\"padding: 0 1px;
        text-decoration: none;\"><a href=\"/wiki/Reim:Deutsch:-%C9%AA%CA%81n\" title=\"Reim:Deutsch:-\u026a\u0281n\">-\u026a\u0281n</a></span></dd>\n</dl>\n<p
        style=\"margin-bottom:-0.5em; font-weight:bold;\" title=\"Sinn und Bezeichnetes
        (Semantik)\">Bedeutun[...]
- request:
    method: post
    uri: https://de.wiktionary.org/w/api.php
    body:
      encoding: UTF-8
      string: action=parse&format=json&page=gehirn&token=%2B%5C
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Mediawiki-Api-Error:
      - missingtitle
      Backend-Timing:
      - D=38334 t=1489343636723585
      X-Analytics:
      - WMF-Last-Access=12-Mar-2017;WMF-Last-Access-Global=12-Mar-2017;https=1
      X-Client-Ip:
      - 2601:42:901:1f70:48c8:5adf:e79e:81f4
    body:
      encoding: ASCII-8BIT
      string: '{"error":{"code":"missingtitle","info":"The page you specified doesn''t
        exist.","*":"See https://de.wiktionary.org/w/api.php for API usage. Subscribe
        to the mediawiki-api-announce mailing list at &lt;https://lists.wikimedia.org/mailman/listinfo/mediawiki-api-announce&gt;
        for notice of API deprecations and breaking changes."},"servedby":"mw1196"}'
  recorded_at: Sun, 12 Mar 2017 18:33:57 GMT
[...]
- request:
    method: post
    uri: https://de.wiktionary.org/w/api.php
    body:
      encoding: UTF-8
      string: action=parse&format=json&page=gift&token=%2B%5C
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Backend-Timing:
      - D=135571 t=1489350728313343
      X-Analytics:
      - ns=-1;special=Badtitle;WMF-Last-Access=12-Mar-2017;WMF-Last-Access-Global=12-Mar-2017;https=1
      X-Client-Ip:
      - 2601:42:901:1f70:48c8:5adf:e79e:81f4
    body:
      encoding: ASCII-8BIT
      string: '{"warnings":{"main":{"*":"Unrecognized parameter: token."}},"parse":{"title":"gift","pageid":47326,"revid":5334016,"text":{"*":"<div
        id=\"Vorlage_Siehe_auch\" style=\"display:none;\">\n<table cellspacing=\"8\"
        cellpadding=\"0\" style=\"background-color: #FCFCFC; border: #E9E9E9; width:
        100%; font-size: 12px; border-bottom-style: solid; margin-bottom: 1em;\">\n<tr>\n<td
        style=\"width: 25px; vertical-align: middle;\"><a href=\"/wiki/Datei:Disambig.svg\"
        class=\"image\"><img alt=\"Disambig.svg\" src=\"//upload.wikimedia.org/wikipedia/commons/thumb/7/72/Disambig.svg/25px-Disambig.svg.png\"
        width=\"25\" height=\"20\" srcset=\"//upload.wikimedia.org/wikipedia/commons/thumb/7/72/Disambig.svg/38px-Disambig.svg.png
        1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/7/72/Disambig.svg/50px-Disambig.svg.png
        2x\" data-file-width=\"230\" data-file-height=\"183\" /></a></td>\n<td>Siehe
        auch: <a href=\"/wiki/Gift\" title=\"Gift\">Gift</a></td>\n</tr>\n</table>\n</div>\n<p></p>\n<div
        id=\"toc\" class=\"toc\">\n<div id=\"toctitle\">\n<h2>Inhaltsverzeichnis</h2>\n</div>\n<ul>\n<li
        class=\"toclevel-1 tocsection-1\"><a href=\"#gift_.28Deutsch.29\"><span class=\"tocnumber\">1</span>
        <span class=\"toctext\">gift (Deutsch)</span></a>\n<ul>\n<li class=\"toclevel-2
        tocsection-2\"><a href=\"#Konjugierte_Form\"><span class=\"tocnumber\">1.1</span>
        <span class=\"toctext\">Konjugierte Form</span></a></li>\n</ul>\n</li>\n<li
        class=\"toclevel-1 tocsection-3\"><a href=\"#gift_.28D.C3.A4nisch.29\"><span
        class=\"tocnumber\">2</span> <span class=\"toctext\">gift (D\u00e4nisch)</span></a>\n<ul>\n<li
        class=\"toclevel-2 tocsection-4\"><a href=\"#Substantiv.2C_u\"><span class=\"tocnumber\">2.1</span>
        <sp[...]
[...]
