---
http_interactions:
- request:
    method: get
    uri: https://de.wiktionary.org/w/api.php?action=query&format=json&meta=tokens&type=csrf
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Backend-Timing:
      - D=19416 t=1489340778361208
      X-Analytics:
      - ns=-1;special=Badtitle;https=1;nocookies=1
      X-Client-Ip:
      - 2601:42:901:1f70:58eb:6229:a498:4e17
    body:
      encoding: ASCII-8BIT
      string: '{"batchcomplete":"","query":{"tokens":{"csrftoken":"+\\"}}}'
  recorded_at: Sun, 12 Mar 2017 17:46:18 GMT
- request:
    method: post
    uri: https://de.wiktionary.org/w/api.php
    body:
      encoding: UTF-8
      string: action=parse&format=json&page=Gehirn&token=%2B%5C
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Backend-Timing:
      - D=61535 t=1489340778681368
      X-Analytics:
      - ns=-1;special=Badtitle;WMF-Last-Access=12-Mar-2017;WMF-Last-Access-Global=12-Mar-2017;https=1
      X-Client-Ip:
      - 2601:42:901:1f70:58eb:6229:a498:4e17
    body:
      encoding: ASCII-8BIT
      string: '{"warnings":{"main":{"*":"Unrecognized parameter: token."}},"parse":{"title":"Gehirn","pageid":11340,"revid":5331889,"text":{"*":"<h2><span
        class=\"mw-headline\" id=\"Gehirn_.28Deutsch.29\">Gehirn (<a href=\"/wiki/Wiktionary:Deutsch\"
        title=\"Wiktionary:Deutsch\">Deutsch</a><span style=\"visibility:hidden\"
        id=\"Gehirn_.28Deutsch.29\"><span id=\"Anker:Gehirn_.28Deutsch.29\"></span></span><span
        style=\"visibility:hidden\" id=\"Deutsch\"><span id=\"Anker:Deutsch\"></span></span><span
        style=\"visibility:hidden\" id=\"Deutsch\"><span id=\"Anker:Deutsch\"></span></span>)</span><span
        class=\"mw-editsection\"><span class=\"mw-editsection-bracket\">[</span><a
        href=\"/w/index.php?title=Gehirn&amp;action=edit&amp;section=1\" title=\"Abschnitt
        bearbeiten: Gehirn (Deutsch)\">Bearbeiten</a><span class=\"mw-editsection-bracket\">]</span></span></h2>\n<h3><span
        class=\"mw-headline\" id=\"Substantiv.2C_n\"><a href=\"/wiki/Hilfe:Wortart\"
        title=\"Hilfe:Wortart\">Substantiv</a>, <em title=\"Genus: Neutrum (grammatikal.
        Geschlecht: s\u00e4chlich)\">n</em></span><span class=\"mw-editsection\"><span
        class=\"mw-editsection-bracket\">[</span><a href=\"/w/index.php?title=Gehirn&amp;action=edit&amp;section=2\"
        title=\"Abschnitt bearbeiten: Substantiv, n\">Bearbeiten</a><span class=\"mw-editsection-bracket\">]</span></span></h3>\n<table
        class=\"wikitable float-right inflection-table flexbox hintergrundfarbe2\"
        style=\"margin:0 0 .5em .4em;\">\n<tr>\n<th width=\"65\"></th>\n<th><a href=\"/wiki/Hilfe:Singular\"
        title=\"Hilfe:Singular\">Singular</a></th>\n<th><a href=\"/wiki/Hilfe:Plural\"
        title=\"Hilfe:Plural\">Plural</a></th>\n</tr>\n<tr>\n<th style=\"text-align:left;\"><a
        href=\"/wiki/Hilfe:Nominativ\" title=\"Hilfe:Nominativ\">Nominativ</a></th>\n<td>das
        Gehirn</td>\n<td>die <a href=\"/wiki/Gehirne\" title=\"Gehirne\">Gehirne</a></td>\n</tr>\n<tr>\n<th
        style=\"text-align:left;\"><a href=\"/wiki/Hilfe:Genitiv\" title=\"Hilfe:Genitiv\">Genitiv</a></th>\n<td>des
        <a href=\"/wiki/Gehirns\" title=\"Gehirns\">Gehirns</a><br />\ndes <a href=\"/wiki/Gehirnes\"
        title=\"Gehirnes\">Gehirnes</a></td>\n<td>der <a href=\"/wiki/Gehirne\" title=\"Gehirne\">Gehirne</a></td>\n</tr>\n<tr>\n<th
        style=\"text-align:left;\"><a href=\"/wiki/Hilfe:Dativ\" title=\"Hilfe:Dativ\">Dativ</a></th>\n<td>dem
        Gehirn<br />\ndem <a href=\"/wiki/Gehirne\" title=\"Gehirne\">Gehirne</a></td>\n<td>den
        <a href=\"/wiki/Gehirnen\" title=\"Gehirnen\">Gehirnen</a></td>\n</tr>\n<tr>\n<th
        style=\"text-align:left;\"><a href=\"/wiki/Hilfe:Akkusativ\" title=\"Hilfe:Akkusativ\">Akkusativ</a></th>\n<td>das
        Gehirn</td>\n<td>die <a href=\"/wiki/Gehirne\" title=\"Gehirne\">Gehirne</a></td>\n</tr>\n</table>\n<table
        cellspacing=\"0\" cellpadding=\"0\" class=\"hintergrundfarbe2 rahmenfarbe1\"
        style=\"float:right; clear:right; margin:0em 0em 1em 1em; empty-cells:show;\">\n<tr>\n<td
        colspan=\"10\">\n<div class=\"center\">\n<div class=\"thumb tnone\">\n<div
        class=\"thumbinner\" style=\"width:222px;\"><a href=\"/wiki/Datei:Gehirn,_medial_-_Lobi_deu.svg\"
        class=\"image\"><img alt=\"\" src=\"//upload.wikimedia.org/wikipedia/commons/thumb/0/06/Gehirn%2C_medial_-_Lobi_deu.svg/220px-Gehirn%2C_medial_-_Lobi_deu.svg.png\"
        width=\"220\" height=\"143\" class=\"thumbimage\" srcset=\"//upload.wikimedia.org/wikipedia/commons/thumb/0/06/Gehirn%2C_medial_-_Lobi_deu.svg/330px-Gehirn%2C_medial_-_Lobi_deu.svg.png
        1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/0/06/Gehirn%2C_medial_-_Lobi_deu.svg/440px-Gehirn%2C_medial_-_Lobi_deu.svg.png
        2x\" data-file-width=\"739\" data-file-height=\"482\" /></a>\n<div class=\"thumbcaption\">\n<div
        class=\"magnify\"><a href=\"/wiki/Datei:Gehirn,_medial_-_Lobi_deu.svg\" class=\"internal\"
        title=\"vergr\u00f6\u00dfern\"></a></div>\n[1] Medialansicht eines halbierten
        menschlichen <i>Gehirns</i></div>\n</div>\n</div>\n</div>\n</td>\n</tr>\n</table>\n<p
        style=\"margin-bottom:-0.5em; font-weight:bold;\" title=\"Trennungsm\u00f6glichkeiten
        am Zeilenumbruch\">Worttrennung:</p>\n<dl>\n<dd>Ge\u00b7hirn, <span style=\"font-size:95%;\">Plural:</span>
        Ge\u00b7hir\u00b7ne</dd>\n</dl>\n<p style=\"margin-bottom:-0.5em; font-weight:bold;\"
        title=\"Phonetik\">Aussprache:</p>\n<dl>\n<dd><a href=\"/wiki/Hilfe:IPA\"
        title=\"Hilfe:IPA\">IPA</a>: [<span class=\"ipa\" style=\"padding: 0 1px;
        text-decoration: none;\">\u0261\u0259\u02c8h\u026a\u0281n</span>]</dd>\n<dd><a
        href=\"/wiki/Hilfe:H%C3%B6rbeispiele\" title=\"Hilfe:H\u00f6rbeispiele\">H\u00f6rbeispiele</a>:
        <img alt=\"Lautsprecherbild\" src=\"//upload.wikimedia.org/wikipedia/commons/thumb/8/8a/Loudspeaker.svg/15px-Loudspeaker.svg.png\"
        title=\"Lautsprecherbild\" width=\"15\" height=\"15\" srcset=\"//upload.wikimedia.org/wikipedia/commons/thumb/8/8a/Loudspeaker.svg/23px-Loudspeaker.svg.png
        1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/8/8a/Loudspeaker.svg/30px-Loudspeaker.svg.png
        2x\" data-file-width=\"20\" data-file-height=\"20\" />&#160;<a href=\"//upload.wikimedia.org/wikipedia/commons/0/00/De-Gehirn.ogg\"
        class=\"internal\" title=\"De-Gehirn.ogg\">Gehirn</a><sup>&#160;(<a href=\"/wiki/Datei:De-Gehirn.ogg\"
        title=\"Datei:De-Gehirn.ogg\">Info</a>)</sup></dd>\n<dd><a href=\"/wiki/Hilfe:Reime\"
        title=\"Hilfe:Reime\">Reime</a>: <span class=\"ipa\" style=\"padding: 0 1px;
        text-decoration: none;\"><a href=\"/wiki/Reim:Deutsch:-%C9%AA%CA%81n\" title=\"Reim:Deutsch:-\u026a\u0281n\">-\u026a\u0281n</a></span></dd>\n</dl>\n<p
        style=\"margin-bottom:-0.5em; font-weight:bold;\" title=\"Sinn und Bezeichnetes
        (Semantik)\">Bedeutun[...]
- request:
    method: post
    uri: https://de.wiktionary.org/w/api.php
    body:
      encoding: UTF-8
      string: action=parse&format=json&page=gehirn&token=%2B%5C
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Mediawiki-Api-Error:
      - missingtitle
      Backend-Timing:
      - D=38334 t=1489343636723585
      X-Analytics:
      - WMF-Last-Access=12-Mar-2017;WMF-Last-Access-Global=12-Mar-2017;https=1
      X-Client-Ip:
      - 2601:42:901:1f70:48c8:5adf:e79e:81f4
    body:
      encoding: ASCII-8BIT
      string: '{"error":{"code":"missingtitle","info":"The page you specified doesn''t
        exist.","*":"See https://de.wiktionary.org/w/api.php for API usage. Subscribe
        to the mediawiki-api-announce mailing list at &lt;https://lists.wikimedia.org/mailman/listinfo/mediawiki-api-announce&gt;
        for notice of API deprecations and breaking changes."},"servedby":"mw1196"}'
  recorded_at: Sun, 12 Mar 2017 18:33:57 GMT
[...]
- request:
    method: post
    uri: https://de.wiktionary.org/w/api.php
    body:
      encoding: UTF-8
      string: action=parse&format=json&page=gift&token=%2B%5C
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Backend-Timing:
      - D=135571 t=1489350728313343
      X-Analytics:
      - ns=-1;special=Badtitle;WMF-Last-Access=12-Mar-2017;WMF-Last-Access-Global=12-Mar-2017;https=1
      X-Client-Ip:
      - 2601:42:901:1f70:48c8:5adf:e79e:81f4
    body:
      encoding: ASCII-8BIT
      string: '{"warnings":{"main":{"*":"Unrecognized parameter: token."}},"parse":{"title":"gift","pageid":47326,"revid":5334016,"text":{"*":"<div
        id=\"Vorlage_Siehe_auch\" style=\"display:none;\">\n<table cellspacing=\"8\"
        cellpadding=\"0\" style=\"background-color: #FCFCFC; border: #E9E9E9; width:
        100%; font-size: 12px; border-bottom-style: solid; margin-bottom: 1em;\">\n<tr>\n<td
        style=\"width: 25px; vertical-align: middle;\"><a href=\"/wiki/Datei:Disambig.svg\"
        class=\"image\"><img alt=\"Disambig.svg\" src=\"//upload.wikimedia.org/wikipedia/commons/thumb/7/72/Disambig.svg/25px-Disambig.svg.png\"
        width=\"25\" height=\"20\" srcset=\"//upload.wikimedia.org/wikipedia/commons/thumb/7/72/Disambig.svg/38px-Disambig.svg.png
        1.5x, //upload.wikimedia.org/wikipedia/commons/thumb/7/72/Disambig.svg/50px-Disambig.svg.png
        2x\" data-file-width=\"230\" data-file-height=\"183\" /></a></td>\n<td>Siehe
        auch: <a href=\"/wiki/Gift\" title=\"Gift\">Gift</a></td>\n</tr>\n</table>\n</div>\n<p></p>\n<div
        id=\"toc\" class=\"toc\">\n<div id=\"toctitle\">\n<h2>Inhaltsverzeichnis</h2>\n</div>\n<ul>\n<li
        class=\"toclevel-1 tocsection-1\"><a href=\"#gift_.28Deutsch.29\"><span class=\"tocnumber\">1</span>
        <span class=\"toctext\">gift (Deutsch)</span></a>\n<ul>\n<li class=\"toclevel-2
        tocsection-2\"><a href=\"#Konjugierte_Form\"><span class=\"tocnumber\">1.1</span>
        <span class=\"toctext\">Konjugierte Form</span></a></li>\n</ul>\n</li>\n<li
        class=\"toclevel-1 tocsection-3\"><a href=\"#gift_.28D.C3.A4nisch.29\"><span
        class=\"tocnumber\">2</span> <span class=\"toctext\">gift (D\u00e4nisch)</span></a>\n<ul>\n<li
        class=\"toclevel-2 tocsection-4\"><a href=\"#Substantiv.2C_u\"><span class=\"tocnumber\">2.1</span>
        <sp[...]
[...]
- request:
    method: get
    uri: http://apifree.forvo.com/format/json/action/word-pronunciations/key/d994f0faf7724b3624d3b5508cd2abc6/language/de/word/nehme
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"attributes":{"total":1},"items":[{"id":121474,"word":"nehme","original":"nehme","addtime":"2009-02-04
        21:45:55","hits":189,"username":"Tlustulimu","sex":"m","country":"Germany","code":"de","langname":"German","pathmp3":"https:\/\/apifree.forvo.com\/audio\/3j253n2o2i2n242f3e262q2a2a2629372q1i273i3p2f2k3k3j1f3j2222272727352c3b351p213b31292l311o35383e3h1k2h1k1l2i261f1n2g3e3k231o2q2h2l1i1m1f2i2f3g24233l2m3i2h29253q3j2o1l2i3h29211t1t_1l343g361l3f1b3j1i353m1i2g333f1p341m1m272b211t1t","pathogg":"https:\/\/apifree.forvo.com\/audio\/1o35332h1n3f3a2e2h1n1l3d2g2b383l3q36313n2122283p3i25393a37363j1g1m2b2a1p351h1k1h36352d2b3e3n2l3b391m2h393o3a261n3b2d312e2k22383p3p3h222n3f1f253e3m293c1n272n2n2h2a273g293f2h1t1t_3f24213l352g342p283g37371j332b39322c1i1l23211t1t","rate":2,"num_votes":2,"num_positive_votes":2}]}'
  recorded_at: Sun, 12 Mar 2017 21:15:55 GMT
- request:
    method: get
    uri: https://www.googleapis.com/customsearch/v1?alt=json&cx=006537769074571033462:l9vxanhf_wm&key=AIzaSyAMvU5JHo51GMMvQn0xThKG-yP9h3xwX-8&q=Kuh&searchType=image&start=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"Km-rZ3xLOWf3nUikI4cgnYOU2vc/izf8zbtxP47cWn6qtQ4-YSKr-CU"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: !binary |-
        ewogImtpbmQiOiAiY3VzdG9tc2VhcmNoI3NlYXJjaCIsCiAidXJsIjogewog
        ICJ0eXBlIjogImFwcGxpY2F0aW9uL2pzb24iLAogICJ0ZW1wbGF0ZSI6ICJo
        dHRwczovL3d3dy5nb29nbGVhcGlzLmNvbS9jdXN0b21zZWFyY2gvdjE/cT17
        c2VhcmNoVGVybXN9Jm51bT17Y291bnQ/fSZzdGFydD17c3RhcnRJbmRleD99
        JmxyPXtsYW5ndWFnZT99JnNhZ[...]
[...]
- request:
    method: get
    uri: https://www.googleapis.com/customsearch/v1?alt=json&cx=006537769074571033462:l9vxanhf_wm&key=AIzaSyAMvU5JHo51GMMvQn0xThKG-yP9h3xwX-8&q=Gehirn&searchType=image&start=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"Km-rZ3xLOWf3nUikI4cgnYOU2vc/ghGUOhkHkbI2-LAVTVkfxPp2JNs"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encod[...]
- request:
    method: get
    uri: https://www.googleapis.com/customsearch/v1?alt=json&cx=006537769074571033462:l9vxanhf_wm&key=AIzaSyAMvU5JHo51GMMvQn0xThKG-yP9h3xwX-8&q=gehirn&searchType=image&start=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"Km-rZ3xLOWf3nUikI4cgnYOU2vc/2zZjsy9oIgqfvXis5pAg7Qys7RU"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encod[...]
- request:
    method: get
    uri: https://www.googleapis.com/customsearch/v1?alt=json&cx=006537769074571033462:l9vxanhf_wm&key=AIzaSyAMvU5JHo51GMMvQn0xThKG-yP9h3xwX-8&q=Nichtraucherinnen&searchType=image&start=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"Km-rZ3xLOWf3nUikI4cgnYOU2vc/DREzasRPob6u-NmQw4NGGnjb220"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
[...]
- request:
    method: get
    uri: http://apifree.forvo.com/format/json/action/word-pronunciations/key/d994f0faf7724b3624d3b5508cd2abc6/language/de/word/Nichtraucherinnen
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"attributes":{"total":1},"items":[{"id":2936296,"word":"nichtraucherinnen","original":"Nichtraucherinnen","addtime":"2014-04-28
        17:01:27","hits":962,"username":"Bartleby","sex":"m","country":"Germany","code":"de","langname":"German","rate":0,"num_votes":0,"num_positive_votes":0}]}'
  recorded_at: Tue, 14 Mar 2017 14:13:03 GMT
- request:
    method: get
    uri: https://www.googleapis.com/customsearch/v1?alt=json&cx=006537769074571033462:l9vxanhf_wm&key=AIzaSyAMvU5JHo51GMMvQn0xThKG-yP9h3xwX-8&q=nehme&searchType=image&start=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"Km-rZ3xLOWf3nUikI4cgnYOU2vc/3wEKbl8bZ8v_HPN4w4I1axvCpDA"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encodi[...]
- request:
    method: get
    uri: https://www.googleapis.com/customsearch/v1?alt=json&cx=006537769074571033462:l9vxanhf_wm&key=AIzaSyAMvU5JHo51GMMvQn0xThKG-yP9h3xwX-8&q=Myfakeword&searchType=image&start=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"Km-rZ3xLOWf3nUikI4cgnYOU2vc/DUuJNMhgMOTjKBvK2F3x3aVRlNE"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "customsearch#search",
         "url": {
          "type": "application/json",
          "template": "https://www.googleapis.com/customsearch/v1?q={searchTerms}&num={count?}&start={startIndex?}&lr={language?}&safe={safe?}&cx={cx?}&cref={cref?}&sort={sort?}&filter={filter?}&gl={gl?}&cr={cr?}&googlehost={googleHost?}&c2coff={disableCnTwTranslation?}&hq={hq?}&hl={hl?}&siteSearch={siteSearch?}&siteSearchFilter={siteSearchFilter?}&exactTerms={exactTerms?}&excludeTerms={excludeTerms?}&linkSite={linkSite?}&orTerms={orTerms?}&relatedSite={relatedSite?}&dateRestrict={dateRestrict?}&lowRange={lowRange?}&highRange={highRange?}&searchType={searchType}&fileType={fileType?}&rights={rights?}&imgSize={imgSize?}&imgType={imgType?}&imgColorType={imgColorType?}&imgDominantColor={imgDominantColor?}&alt=json"
         },
         "queries": {
          "request": [
           {
            "title": "Google Custom Search - Myfakeword",
            "totalResults": "6700",
            "searchTerms": "Myfakeword",
            "count": 10,
            "startIndex": 1,
            "inputEncoding": "utf8",
            "outputEncoding": "utf8",
            "safe": "off",
            "cx": "006537769074571033462:l9vxanhf_wm",
            "searchType": "image"
           }
          ],
          "nextPage": [
           {
            "title": "Google Custom Search - Myfakeword",
            "totalResults": "6700",
            "searchTerms": "Myfakeword",
            "count": 10,
            "startIndex": 11,
            "inputEncoding": "utf8",
            "outputEncoding": "utf8",
            "safe": "off",
            "cx": "006537769074571033462:l9vxanhf_wm",
            "searchType": "image"
           }
          ]
         },
         "context": {
          "title": "Gehirn"
         },
         "searchInformation": {
          "searchTime": 0.229478,
          "formattedSearchTime": "0,23",
          "totalResults": "6700",
          "formattedTotalResults": "6.700"
         },
         "items": [
          {
           "kind": "customsearch#result",
           "title": "Cook's Illustrated's Blondies - Genius Recipes",
           "htmlTitle": "Cook&#39;s Illustrated&#39;s Blondies - Genius Recipes",
           "link": "https://images.food52.com/zR1q62ggb6blY4C0ibqSkY32pTY=/dd96c236-e0a1-4981-8cf4-a03fcdbc814e--14045831317_ea5b92beeb_b.jpg",
           "displayLink": "food52.com",
           "snippet": "... them (my fake word, ...",
           "htmlSnippet": "... them (\u003cb\u003emy fake word\u003c/b\u003e, ...",
           "mime": "image/jpeg",
           "image": {
            "contextLink": "https://food52.com/blog/10431-cook-s-illustrated-s-blondies",
            "height": 682,
            "width": 1024,
            "byteSize": 170614,
            "thumbnailLink": "https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcTDss-4AHSRdT_RiFB7z5qqf7ewJeSp63jx_5iESurCZo1tsF-hDvhDVT4M",
            "thumbnailHeight": 100,
            "thumbnailWidth": 150
           }
          },
          {
           "kind": "customsearch#result",
           "title": "Crunchy Popcorn Chicken Nuggets and Honey Mustard Sauce ...",
           "htmlTitle": "Crunchy Popcorn Chicken Nuggets and Honey Mustard Sauce ...",
           "link": "http://gringalicious.com/wp-content/uploads/2015/01/Crunchy-Popcorn-Chicken-Nuggets-and-Honey-Mustard-Sauce-61-550x800.jpg",
           "displayLink": "gringalicious.com",
           "snippet": "Crunchy Popcorn Chicken ...",
[...]
- request:
    method: get
    uri: https://www.googleapis.com/customsearch/v1?alt=json&cx=006537769074571033462:l9vxanhf_wm&key=AIzaSyAMvU5JHo51GMMvQn0xThKG-yP9h3xwX-8&q=gift&searchType=image&start=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"Km-rZ3xLOWf3nUikI4cgnYOU2vc/RRnGLywEimOhBDs5mKCYXEKscqA"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encodin[...]
- request:
    method: get
    uri: http://apifree.forvo.com/format/json/action/word-pronunciations/key/d994f0faf7724b3624d3b5508cd2abc6/language/de/word/gift
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"attributes":{"total":2},"items":[{"id":26505,"word":"gift","original":"gift","addtime":"2008-07-09
        01:28:26","hits":802,"username":"slin","sex":"m","country":"Germany","code":"de","langname":"German","rate":0,"num_votes":0,"num_positive_votes":0},{"id":4093527,"word":"gift","original":"gift","addtime":"2016-01-17
        13:15:21","hits":793,"username":"firmian","sex":"m","country":"Germany","code":"de","langname":"German","pathmp3":"https:\/\/apifree.forvo.com\/audio\/363n3b3l2j3b2h2929242l2p3o3d2n1g3a2n2l243f3g243q2f2b352m2c28253m1k1k243m1m1l3d353i1p3c373d3g2a38341g1k2o24273m241g3a3o2j2k3l3m25_1j2o3b3b3n2c3p3a1g2a1l3n3q38281b1p3n1o3e26371t1t","pathogg":"https:\/\/apifree.forvo.com\/audio\/3p2l2m3l3l323i1p2f312h3n3e2d3b21393j2p1o2a3b2i3c1i243j2g1f222d25253i2j2e2p313q3f3a2k1k2k3q3k3g1p352j21252f2a3e223q211g1j323d2n28_3i2p3m293c3c313e3d2f2o222g351j272d1b31342d2h1t1t","rate":0,"num_votes":0,"num_positive_votes":0}]}'
  recorded_at: Tue, 14 Mar 2017 14:13:19 GMT
- request:
    method: get
    uri: https://www.googleapis.com/customsearch/v1?alt=json&cx=006537769074571033462:l9vxanhf_wm&key=AIzaSyAMvU5JHo51GMMvQn0xThKG-yP9h3xwX-8&q=Gift&searchType=image&start=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"Km-rZ3xLOWf3nUikI4cgnYOU2vc/WYAMdWJsgwi-b6raA5OOTvhECKM"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encodin[...]
