.form-inline
  .form-group
    = select_tag(:language, options_for_select(['Deutsch']), class: 'form-control col-lg-1 input-lg')
    = text_field_tag(:q, nil, class: 'form-control input-lg col-lg-3')
.images.col-lg-6
.pronunciation.col-lg-6
  #ipa
  #sound
