/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

.centered {
  display: block;
  text-align: center;
}

.search-form {
  margin: 10px 0;
}

#ipa {
  margin-top: 0;
}

#loading {
  width: 75px;
  height: 75px;
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  background-image: image_url('spinner.gif');
  background-repeat: no-repeat;
  background-size: 100%;
}

.image {
  float: left;
  min-width: 150px;
  padding: 0 5px;
  height: 175px;
  max-width: 180px;
  img {
    display: block;
    margin: 0 auto;
  }
}

#contents {
  margin: 15px;
}

.pronunciation {
  float: left;
  margin: 0 40px;
}

#term {
  display: inline-block;
}

.snippet {
  display: block;
}

.speaker {
  cursor: pointer;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}
